:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --white:#FFFFFF;
    --accent-color:#2196F3;
    --background-color:#F5F5F5;
    --secondary-bcg-color:#2F303A;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid tomato;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em
}

.visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }

/* Шапка */
.header{
    background-color: var(--white);
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
}

.black-logo {
    color: #000000;
}

.white-logo {
    color: var(--white);
}

.site-nav, .auth-nav {
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
}

.site-nav {
    margin-left: 93px;
}

.auth-nav {
    margin-left: auto;
}

.site-nav > li:not(:last-child) {
    margin-right: 50px;
}

.auth-nav > li:not(:last-child) {
    margin-right: 50px;
}

.site-nav a, .auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav a:hover, .site-nav a:focus, .auth-nav a:hover, .auth-nav a:focus {
    color:var(--accent-color) ;
}

.site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);

}
.auth-nav a {
    color: var(--secondary-text-color);
}

.current {
    color: var(--accent-color);
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;    
}

/* Герой */
.hero {
    background-color: var(--secondary-bcg-color);
    letter-spacing: 0.06em;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    }


.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-align: center;
}

.button {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover, .button:focus {
    background-color: #188CE8;}

/* Переваги */

.advantages-block.section{
    padding-bottom: 0;
}

.advantages {
    list-style: none;
    display: flex;
}
.advantages .item:not(:last-child) {
    margin-right: 30px;
}

.advantages h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages p {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* Чим ми займаємося */

.work-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    list-style: none;
    display: flex;
}

.work-list img {
    display: block;
}

.work-list .photo {
    width: calc((100%-60px)/3);
}

.work-list .photo:not(:last-child) {
    margin-right: 30px;
}

/* Наша команда */
.team {
    background-color: #F5F4FA;
}

.team-cards {
    list-style: none;
    display: flex;
}

.team-cards .card {
    padding-bottom: 30px;
    background-color: var(--white) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.team-cards .card:not(:last-child) {
    margin-right: 30px;
}

.team-cards img {
    margin-bottom: 30px;
}

.team-cards p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}


/* footer */
.footer {
    background-color: var(--secondary-bcg-color);
}

.contact-list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address {
    color: var(--white);
    text-decoration: none;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contact-list a:hover, .contact-list a:focus {
    color: var(--accent-color);
}

.footer .container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer li {
    margin-bottom: 9px;
}

.footer li:first-child {
    margin-top: 20px;
}

.footer li:last-child {
    margin-bottom: 0px;
}


/* Портфоліо */

.nav-portfolio, .cards-portfolio {
    list-style: none;
}

.cards-portfolio a {
    text-decoration: none;
}

.nav-portfolio {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.nav-portfolio li:not(:last-child) {
    margin-right: 8px;
}

.port-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
}

.port-button:hover, .port-button:focus {
    background-color: var(--accent-color);
    color: var(--white);
}
 
.cards-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -18px;
}

.cards-portfolio .card {
    width: 370px;
    margin: 15px;
}

.cards-portfolio .card-down-part {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
} 

.cards-portfolio img {
   display: block;
}

.cards-portfolio h2 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
}

.cards-portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    padding-left: 24px;
    margin-bottom: 20px;
}
