:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --white:#FFFFFF;
    --accent-color:#2196F3;
    --background-color:#F5F5F5;
    --secondary-bcg-color:#2F303A;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em
}

.visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }


/* Шапка */
.header{
    background-color: var(--white);
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
}

.black-logo {
    color: #000000;
}

.white-logo {
    color: var(--white);
}

.site-nav, .auth-nav {
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
}

.site-nav {
    margin-left: 93px;
}

.auth-nav {
    margin-left: auto;
}

.site-nav > li:not(:last-child) {
    margin-right: 50px;
}

.auth-nav > li:not(:last-child) {
    margin-right: 50px;
}

.site-nav a, .auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    transition: color 250ms var(--animation-timing-function);
}

.site-nav a:hover, .site-nav a:focus, .auth-nav a:hover, .auth-nav a:focus {
    color:var(--accent-color) ;
}

.site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);

}
.auth-nav a {
    color: var(--secondary-text-color);
}

.header .current {
    color: var(--accent-color);
    position: relative;
}

.header .current::after {
    position: absolute;
    content: ""; 
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;    
}

.auth-nav a {
    display: flex;
    align-items: center;
}

.auth-nav .icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Герой */
.hero {
    background-color: var(--secondary-bcg-color);
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    height: 600px;
    max-width: 1600px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    }


.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-align: center;
}

.button {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--animation-timing-function);
}

.hero .button {
    padding: 10px 32px;
}

.button:hover, .button:focus {
    background-color: #188CE8;}

/* Переваги */

.advantages-block.section{
    padding-bottom: 0;
}

.advantages {
    list-style: none;
    display: flex;
}
.advantages .item:not(:last-child) {
    margin-right: 30px;
}

.advantages h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages p {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.advantages .thumb{
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Чим ми займаємося */

.work-title, .team-title, .clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    list-style: none;
    display: flex;
}

.work-list img {
    display: block;
}

.work-list .photo {
    width: calc((100%-60px)/3);
}

.work-list .photo:not(:last-child) {
    margin-right: 30px;
}

.work-list .photo {
    position: relative;
}

.work-list .work-thumb {
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}


/* Наша команда */
.team {
    background-color: #F5F4FA;
}

.team-cards {
    list-style: none;
    display: flex;
}

.team-cards .card {
    background-color: var(--white) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-cards .name-prof {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.team-cards .card:not(:last-child) {
    margin-right: 30px;
}

.team-cards p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.social-media {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.link-social {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-cards .link-social{
    background-color: var(--white);

    transition: background-color 250ms var(--animation-timing-function);
}

.name-prof .icon {
    fill: #AFB1B8;

    transition: fill 250ms var(--animation-timing-function);
}

.name-prof .link-social:hover, .name-prof .link-social:focus {
    background-color: var(--accent-color);
}

.name-prof .link-social:hover .icon, .name-prof .link-social:focus .icon {
    fill: var(--white);
}

/* Постійні клієнти */

.client-cards {
    list-style: none;
    display: flex;
    gap: 30px;
}

.link-company {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border 250ms var(--animation-timing-function);
}

.client-cards .icon {
    fill: #AFB1B8;

    transition: fill 250ms var(--animation-timing-function);
}

.link-company:hover .icon, .link-company:focus .icon {
    fill: var(--accent-color);
}

.link-company:hover, .link-company:focus {
    border: 1px solid var(--accent-color);
}


/* footer */
.footer {
    background-color: var(--secondary-bcg-color);
}

.footer .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
}

.footer-left {
    margin-right: 70px;
}

.contact-list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contact-list a {
    transition: color 250ms var(--animation-timing-function);
}

.address {
    color: var(--white);
    text-decoration: none;
}

address {
    margin-top: 20px;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contact-list a:hover, .contact-list a:focus {
    color: var(--accent-color);
}

.contact-list li {
    margin-bottom: 9px;
}

.footer li:last-child {
    margin-bottom: 0px;
}

.footer b {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
    display: block;
}

.footer-social .link-social {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--animation-timing-function);
}

.footer-social .icon {
    fill: var(--white);
}

.footer-social .link-social:hover, .footer-social .link-social:focus {
    background-color: var(--accent-color);
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe form{
    display: flex;
}

.footer-subscribe input{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer .button {
    padding: 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
}

.footer .icon-send {
    margin-left: 10px;
}


/* Портфоліо */

.nav-portfolio, .cards-portfolio {
    list-style: none;
}

.cards-portfolio a {
    text-decoration: none;
    display: block;
}

.nav-portfolio {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.nav-portfolio li:not(:last-child) {
    margin-right: 8px;
}

.port-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    transition: color 250ms var(--animation-timing-function),
        background-color 250ms var(--animation-timing-function),
        box-shadow 250ms var(--animation-timing-function);
}

.port-button:hover, .port-button:focus {
    background-color: var(--accent-color);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
 
.cards-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cards-portfolio .card-down-part {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
} 

.cards-portfolio img {
   display: block;
}

.cards-portfolio h2 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.cards-portfolio .type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
}

.cards-portfolio a{
    transition: box-shadow 250ms var(--animation-timing-function);
}

.cards-portfolio a:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-portfolio .card-thumb{
    position: relative;
    overflow: hidden;
}

.cards-portfolio .card-overlay {
    position: absolute;
    display: inline-block;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);

    transition: transform 250ms var(--animation-timing-function);
}

.cards-portfolio .overlay-text{
    font-size: 18px;
    line-height: 1.56;
    color: var(--white);
   
}

.cards-portfolio a:hover .card-overlay, .cards-portfolio a:hover .overlay-text {
    transform: translateY(0);
}

/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opaсity 250ms var(--animation-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    background-color: var(--white);
    padding: 40px;

    transition: transform 250ms var(--animation-timing-function), opacity 250ms var(--animation-timing-function);
}

.modal .modal-form {
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--white);
}

.btn-close .icon{
    fill:#000000;
    
}
.btn-close .icon:hover {
    fill:var(--accent-color);
}

.modal .form-input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-input label {
    position: relative;
}

.modal strong {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 2px;
    text-align: center;
}

.modal .input-title{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
    margin-top: 10px;
}

.modal .input-row{
    display: block;
    height: 40px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;

    transition: border 250ms var(--animation-timing-function);
}

.modal .input-name {
    position: relative;
}

.form-input .icon{
    position: absolute;
    left: 12px;
    bottom: 11px;

    transition: fill 250ms var(--animation-timing-function);
}

.modal textarea {
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    height: 120px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border 250ms var(--animation-timing-function);
}

.modal textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.input-name .input-row:focus, .input-name textarea:focus,
.input-name .input-row:hover, .input-name textarea:hover {
    border-color: var(--accent-color);
}

.input-row:focus + .thumb .icon, .input-row:hover+.thumb .icon{
    fill: var(--accent-color);
}

.modal .policy {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
}

.policy .link {
    color: var(--accent-color);
}

.policy input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.policy .icon {
    border: 2px solid #000000;
    border-radius: 2px;
    background-color: var(--white);
    fill: var(--white);
    cursor: pointer;;
}

.policy input:checked + .icon{
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
}

.modal .button {
    padding: 10px 52px;
    width: 200px;
    height: 50px;
}