:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --white:#FFFFFF;
    --accent-color:#2196F3;
    --background-color:#F5F5F5;
    --secondary-bcg-color:#2F303A;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em
}

/* Шапка */
.header{
    background-color: var(--white);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 119% ;
    color: var(--accent-color);
    text-decoration: none;
}

.black-logo {
    color: #000000;
}

.white-logo {
    color: var(--white);
}

.site-nav, .auth-nav {
    letter-spacing: 0.02em;
    list-style: none;
}

.site-nav a, .auth-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-decoration: none;
}

.site-nav a:hover, .site-nav a:focus, .auth-nav a:hover, .auth-nav a:focus {
    color:var(--accent-color) ;
}

.site-nav a {
    color: var(--primary-text-color);
}
.auth-nav a {
    color: var(--secondary-text-color);
}

.current {
    color: var(--accent-color);
}

/* Герой */
.hero {
    background-color: var(--secondary-bcg-color);
    letter-spacing: 0.06em;
}

.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    text-transform: uppercase;
}

.button {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

/* Переваги */

.advantages {
    list-style: none;
}

.advantages h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
}

.advantages p {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 171%;
}

/* Чим ми займаємося */

.work-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 117%;
    text-align: center;
}

.work-list {
    list-style: none;
}

/* Наша команда */
.team {
    background-color: #F5F4FA;
}

.team-cards {
    list-style: none;
}

.team-cards p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 119%;
    text-align: center;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    text-align: center;
}


/* footer */
.footer {
    background-color: var(--secondary-bcg-color);
}

.contact-list {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
}

.address {
    color: var(--white);
    text-decoration: none;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* Портфоліо */

.nav-portfolio, .cards-portfolio {
    list-style: none;
}

.nav-portfolio a,
.cards-portfolio a {
    text-decoration: none;
}

.port-botton {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    background-color: #F5F4FA;
    cursor: pointer;
}

.port-botton:hover, .port-botton:focus {
    background-color: var(--accent-color);
    color: var(--white);
}
 

.cards-portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    color: #757575;

}

.cards-portfolio h2 {
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}