.clients {
    display: flex;
    gap: 30px;
}

.clients__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @extend %flex-centered;

    transition: border 250ms $animation-timing-function;

    &:hover, &:focus {
        border: 1px solid $accent-color;
        }
}

.clients__icon {
    fill: #AFB1B8;

    transition: fill 250ms $animation-timing-function;

    .clients__link:hover &, .clients__link:focus & {
        fill: $accent-color
    }
}

