.footer {
    background-color: $secondary-bcg-color;
}

.footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    text-align: center;

    @media screen and (min-width:1200px){
    flex-direction: row;
    align-items: baseline;
    gap: 93px;
    text-align: left;
    }
}

.footer__upper {
    display: flex;
    flex-direction: column;

    @media screen and (min-width:768px){
    flex-direction: row;
    align-items: baseline;
    gap: 165px;
    }

    @media screen and (min-width:1200px){
    gap: 70px;}
}

.contact-list {
    font-style: normal;
    line-height: 1.71;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width:1200px){
        gap: 9px;}
}

.footer__logo {
    color: $white;
}

.logo--footer{
    margin-top: 0;
    margin-bottom: 20px;
}

.contact-list__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms $animation-timing-function;

    &:hover, &:focus {
            color: $accent-color;
        }
}

.contact-list__link--address {
    color: $white;
}

.accent-text {
    line-height: 1.14;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    display: block;
}

.footer__socials, .footer__subscribe {
    @media screen and (max-width:767px){
    margin-top: 60px;}
}

.socials__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials__no-animated-icon {
    fill: $white;
}


.footer__subscribe {
    @media screen and (max-width:767px){
        width: 100%;}

    @media screen and (min-width:768px) and (max-width:1199px){
        margin-top: 60px;}

    }

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    @media screen and (min-width:1200px){
        flex-direction: row;
        text-align: left;
        gap: 12px;}
}

.subscribe__input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    
        &::placeholder {
            font-size: 16px;
            line-height: 1.25; 
            color: rgba(255, 255, 255, 0.6);}

     @media screen and (min-width:768px){
        width: 450px;}       

     @media screen and (min-width:1200px){
        width: 358px;}
}

.subscribe__button {
    @extend %flex-centered;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
}

.subscribe__icon {
    margin-left: 10px;
}