.work {
    display: flex;
    column-gap: 30px;
}

.work__img {
    display: block;
}

.work__card {
    width: calc((100% - 60px) / 3);
    position: relative;
}

.work__thumb {
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom:0;
    @extend %flex-centered;
}

.work__text {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $white;
}